.dropdown-group{
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 30px;
  margin-bottom: 40px;
}
.dropdown-container{
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  align-items: center;
}
.dropdown-list{
  border: solid;
  border-color: var(--yell-gr);
  border-radius: 5px;
  background-color: var(--black-color);
  width: 100%;
  max-width: 300px;
  cursor: pointer;
}
.dropdown-list:hover {
  background-color: var(--hover);
}

.dropdown-list::-webkit-scrollbar {
  background: var(--dark_gray-color);
  width: 10px;
}
.dropdown-list::-webkit-scrollbar-thumb {
  background: var(--yell-gr);
  border-radius: 8px;
}

.dropdown-option {
  background-color: var(--black-color);
}
.dropdown-option:checked {
  background-color: var(--hover);
}

.app-list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 10px 0;
  cursor: pointer;
}
.app-item{ 
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  background-color: var(--black-color);
  border: solid;
  border-color: var(--yell-gr);
  border-radius: 6px;
  gap: 10px;
  padding: 10px;
}
.app-item:hover {
  background-color: var(--hover);
}
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--form-background);
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  background-color: var(--green);
  transform: scale(1);
}

input[type="checkbox"]:focus {
  border-color: var(--yell);
}