.dropdown-group{
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 30px;
  margin-bottom: 40px;
}
.dropdown-container{
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  align-items: center;
}
.dropdown-list{
  border: solid;
  border-color: var(--yell-gr);
  border-radius: 5px;
  background-color: var(--black-color);
  color: var(--yell);
  font-family: sans-serif;
  font-size: 17px;
  width: 100%;
  max-width: 300px;
  padding: 4px;
  cursor: pointer;
}
.dropdown-list::-webkit-scrollbar {
  background: transparent;
  width: 10px;
  height: 10px;
}
.dropdown-list::-webkit-scrollbar-thumb {
  background: var(--yell-gr);
  border-radius: 6.87501px;
}

.app-list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 10px 0;
  cursor: pointer;
}
.app-item{ 
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  justify-content: start;
  background-color: var(--black-color);
  border: solid;
  border-color: var(--yell-gr);
  border-radius: 6px;
  padding: 10px;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border: solid;
  border-color: var(--yell-gr);
  border-radius: 6px;
  background-color: var(--black-color);
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
}