.installer-container{
  display: grid;
  border-radius: 10px;
  width: 80%;
  gap: 10px;
  margin: 24px auto;
}

.installer-header{
  border: solid;
  border-color: var(--yell-gr);
  border-radius: 5px;
  background-color: var(--black-color);
  display: flex;
  grid-auto-flow: column;
  justify-content: space-between;
  height: 50px;
  align-items:center;
}
img {
  max-height: 40px;
  width: auto;
}
.name{
  font-size: 100%;
}
.installer-main{
  display: flex;
  background-color: var(--black-color);
  border-radius: 10px;
}
.installer-options{
  display: grid;
  grid-auto-flow: row;
  justify-content: start;  
  background-color: var(--dark_gray-color);
  border-radius: 10px 0 0 10px;
  width: 250px;
  max-width: 300px;
  gap: 5px;
  padding: 10px;
  color: var(--yell);
}

.options-item{
  display: grid;
  grid-auto-flow: column;
  justify-content: start;  
  gap: 8px;
  color: var(--yell);
  font-size: 30px;
  font-weight: 400;
  text-decoration: none;
  align-items: center;
  justify-items: center;
  padding: 10px;
}
.options-item.active {
  /* border: solid; */
  border-color: var(--yell-gr);
  border-radius: 5px;
  background-color: var(--black-color);
  color: var(--yell);
}
.options-item:hover {
  /* border: solid; */
  border-color: var(--yell-gr);
  border-radius: 5px;
  background-color: var(--hover);
  color: var(--yell);
}
.options-item-img{
  height: 32px;
  width: 32px;
  
}

.installer-form{
  border: solid;
  border-color: var(--yell-gr);
  border-radius: 5px;
  width: 100%;
  padding: 30px 20px 30px 20px;
}
.installer-btn{
  border: solid;
  border-color: var(--yell-gr);
  border-radius: 20px;
  text-align: left;
  color: var(--green);
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 600;
  background-color: var(--black-color);
  padding: 10px 20px 10px 5px;
  margin-top: 40px;
  cursor: pointer;
}