.installer-container{
  display: grid;
  border-radius: 10px;
  width: 80%;
  gap: 10px;
  margin: 24px auto;
}

.installer-header{
  display: flex;
  grid-auto-flow: column;
  background-color: var(--black-color);
  border: solid;
  border-color: var(--yell-gr);
  border-radius: 5px;
  justify-content: space-between;
  align-items:center;
  padding: 8px;
}
.installer-main{
  display: flex;
  border-radius: 10px;
  gap: 10px;
}
.installer-options{
  display: grid;
  grid-auto-flow: row;
  justify-content: start;  
  background-color: var(--dark_gray-color);
  border-radius: 10px 0 0 10px;
  width: 250px;
  max-width: 300px;
  gap: 5px;
}
.logo{
  height: 40px;
}
.title{
  font-weight: bold;
}

.options-item{
  display: grid;
  grid-auto-flow: column;
  justify-content: start;  
  border-radius: 5px;
  font-size: 26px;
  font-weight: bold;
  text-decoration: none;
  align-items: center;
  justify-items: center;
  gap: 8px;
  padding: 10px;
}
.options-item.active {
  background-color: var(--black-color);
}
.options-item:hover {
  background-color: var(--hover);
}
.options-item-img{
  height: 32px;
  width: 32px;
}

.installer-form{
  background-color: var(--black-color);
  border: solid;
  border-color: var(--yell-gr);
  border-radius: 5px;
  width: 100%;
  padding: 30px 20px 30px 20px;
}
.installer-btn{
  border: solid;
  border-color: var(--yell-gr);
  border-radius: 10px;
  color: var(--green);
  text-align: center;
  font-weight: 600;
  background-color: var(--black-color);
  padding: 10px 20px 10px 5px;
  margin-top: 40px;
  cursor: pointer;
}