:root{
  --black-color: #232222;
  --dark_gray-color: #2f2e2e;
  --yell: #bf9770;
  --yell-gr: #65594d;
  --hover: #2b2828;
  --green: #549a66;
  --white-color: #FFF7FC;
  --light_gray-color: #E0DADE;
  --gray-color: #BAB3B7;
 
  
  --light_black-color: #0F1022;
  --light_cian-color: #8B93FF;
  --light_blue-color: #5755FE;
  --cian-color: #7D84E5;
  --blue-color: #4F4EE3;
}

*{
  margin: 0;
  padding: 0;
}

html{
  background-color: var(--dark_gray-color);
  color: var(--yell);
  font-family: sans-serif;
  font-size: 1.2rem;
}